* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1f1f1f;
  color: #e7e7e7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.shelter-card {
  background-color: #3f3f3f;
  align-self: flex-end;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}
